<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout">
	
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Cadastro - Alunos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <!--
            <div class="alert alert-danger" role="alert">
                Aluno já cadastrado
            </div>
            -->
            <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(mensagem1)}">
                <span th:text=${mensagem1}></span>
            </div>
            <form th:action="@{/alunos/cadastro}" th:object="${aluno}" method="POST">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <th:block th:each="erro : ${#fields.detailedErrors()}">
                        <div>
                            <span th:text="${erro.message}">Erro durante o cadastro</span>
                        </div>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="InputAluno">Nome do aluno</label>
                    <input type="text" class="form-control" id="inputAluno" th:field="*{nome}">
                </div>
                <div class="form-group">
                    <label for="InputRA">RA</label>
                    <input type="text" minlength="13" maxlength="13" class="form-control" id="inputRA" th:field="*{ra}">
                </div>
                <div class="form-group">
                    <label for="InputCPF">CPF</label>
                    <input type="text" minlength="14" maxlength="14" class="form-control" id="inputCPF" th:field="*{cpf}" onkeypress="$(this).mask('000.000.000-00');">
                </div>
                <div class="form-group">
                    <label for="InputNasc">Data de nascimento</label>
                    <input type="date" class="form-control" id="inputNasc" th:field="*{nasc}">
                </div>
                <div class="form-group">
                    <label for="SelectCurso">Curso</label>
                    <select class="form-control" id="selectCurso" th:field="*{curso.id}">
                        <option value="">Selecione um curso...</option>
                        <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nome}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        </section>
    </body>
</html>