<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout">
	
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Cadastrados - Alunos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
                <span th:text=${mensagem}></span>
            </div>
            <div class="table mb-4">
                <div class="row border-bottom border-dark py-3 bg-light">
                    <div class="col"><strong>Nome</strong></div>
                    <div class="col-2"><strong>RA</strong></div>
                    <div class="col-2"><strong>CPF</strong></div>
                    <div class="col-2"><strong>Data de nascimento</strong></div>
                    <div class="col-2"><strong>Curso</strong></div>
                    <div class="col-1"><strong>Editar</strong></div>
                </div>
                <div class="row border-top border-bottom py-2" th:each="aluno : ${alunos}">
                    <div class="col align-middle py-2" th:text="${aluno.nome}">Nome</div>
                    <div class="col-2 align-middle py-2" th:text="${aluno.ra}">RA</div>
                    <div class="col-2 align-middle py-2" th:text="${aluno.cpf}">CPF</div>
                    <div class="col-2 align-middle py-2" th:text="${#dates.format(aluno.nasc, 'dd/MM/yyyy')}">Data de nascimento</div>
                    <div class="col-2 align-middle py-2" th:text="${aluno.curso.nome}">Curso</div>
                    <div class="col-1">
                        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter" th:data-id="${aluno.id}" th:data-nome="${aluno.nome}" th:data-ra="${aluno.ra}" th:data-cpf="${aluno.cpf}" th:data-nasc="${aluno.nasc}" th:data-curso="${aluno.curso.id}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                        <a type="button" class="btn btn-outline-dark">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="row border-top border-bottom py-2" th:if="${alunos.empty}">
                    <div class="col-12 align-middle py-2">Nenhum aluno cadastrado</div>
                </div>
            </div>

            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link text-dark" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                    <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Modal - Alteração de cadastro -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Alteração de cadastro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="#" th:action="@{/alunos/update}" th:object="${aluno}" method="POST">
                            <div class="modal-body">
                                <input type="hidden" id="id" value="" th:field="*{id}">
                                <div class="form-group">
                                    <label for="recipient-nome" class="col-form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" th:field="*{nome}">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-ra" class="col-form-label">RA</label>
                                    <input type="text" class="form-control" id="ra" th:field="*{ra}">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-cpf" class="col-form-label">CPF</label>
                                    <input type="text" class="form-control" id="cpf" th:field="*{cpf}">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-nasc" class="col-form-label">Data de nascimento</label>
                                    <input type="date" class="form-control" id="nasc" th:field="*{nasc}">
                                </div>
                                <div class="form-group">
                                    <label for="SelectCurso">Curso</label>
                                    <select class="form-control" id="selectCurso" th:field="*{curso.id}">
                                        <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nome}"></option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Alterar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script th:src="@{/javascripts/modalControlAlunos.js}"></script>
        </section>
    </body>
</html>