<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap/bootstrap.min.css}">

        <title>Default</title>
    </head>
    <body>
        <script type="text/javascript" th:src="@{/javascripts/jquery/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/javascripts/bootstrap/bootstrap.bundle.min.js}"></script>
        
        <!-- Menu -->
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/index">FATEC Mogi das Cruzes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/escola">Escola</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Curso</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/cursos">Cursos cadastrados</a>
                            <a class="dropdown-item" href="/cursos/cadastro">Cadastrar curso</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Matéria</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/materias">Matérias cadastradas</a>
                            <a class="dropdown-item" href="/materias/cadastro">Cadastrar matéria</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Professores</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/professores">Professores cadastrados</a>
                            <a class="dropdown-item" href="/professores/cadastro">Cadastrar professores</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alunos</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/alunos">Alunos cadastrados</a>
                            <a class="dropdown-item" href="/alunos/cadastro">Cadastrar alunos</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav">
                <label for="Users" class="nav-item nav-link disabled" th:text="${#authentication.name}">Usuário</label>
                <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
            </div>
        </nav>

        <!-- Conteudo da página -->
        <section class="container-fluid my-5 pt-5 px-5 col col-xl-10" layout:fragment="conteudo"></section>

        <!-- Rodapé -->
    </body>
</html>