<html>
    <body>
        <div th:fragment="menu">
            <nav class="navbar navbar-expand-xl navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/index">FATEC Mogi das Cruzes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto">
                        <!-- Menu - Geral -->
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('index')} ? 'active'">
                            <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('escola')} ? 'active'">
                            <a class="nav-link" href="/escola">Escola</a>
                        </li>
    
                        <!-- Menu - Aluno -->
                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('dadosCad')} ? 'active'">
                            <a class="nav-link" href="#">Dados cadastrais</a>
                        </li>

                        <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('aluno/matriculas')} ? 'active'">
                            <a class="nav-link" href="/aluno/matriculas">Histórico</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-nav">
                    <label for="Users" class="navbar-text active" sec:authentication="name">Usuário</label>
                    <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
                </div>
            </nav>
        </div>
    </body>
</html>