<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/layout}">
	
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Cadastro - Alunos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <script th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>

            <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(cadastroSuccess)}">
                <span th:text=${cadastroSuccess}></span>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${not #strings.isEmpty(cadastroError)}">
                <span th:text=${cadastroError}></span>
            </div>
            
            <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(mensagem1)}">
                <span th:text=${mensagem1}></span>
            </div>
            <form th:action="@{/admin/alunos/cadastro}" th:object="${alunosModel}" method="POST">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <th:block th:each="erro : ${#fields.detailedErrors()}">
                        <div>
                            <span th:text="${erro.message}">Erro durante o cadastro</span>
                        </div>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="InputAluno">Nome do aluno</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" id="inputAluno" th:field="*{nome}">
                </div>
                <div class="form-group">
                    <label for="InputRA">RA</label>
                    <input type="text" minlength="13" maxlength="13" class="form-control" th:classappend="${#fields.hasErrors('ra')} ? is-invalid" id="inputRA" th:field="*{ra}">
                </div>
                <div class="form-group">
                    <label for="InputCPF">CPF</label>
                    <input type="text" minlength="14" maxlength="14" class="form-control" th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" id="inputCPF" th:field="*{cpf}" onkeypress="$(this).mask('000.000.000-00');">
                </div>
                <div class="form-group">
                    <label for="InputNasc">Data de nascimento</label>
                    <input type="date" class="form-control" th:classappend="${#fields.hasErrors('nasc')} ? is-invalid" id="inputNasc" th:field="*{nasc}" required>
                </div>

                <div class="form-group">
                    <label for="InputNasc">Possui ensino médio completo</label>
                    <input type="checkbox" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="SelectUsuario">Usuário</label>
                    <select class="form-control" id="selectUsuario" th:field="*{usuario.id}">
                        <option value="">Selecione um usuario...</option>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.user}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Cadastrar</button>
            </form>
        </section>
    </body>
</html>