<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Cadastro - Professores</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>

            <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(cadastroSuccess)}">
                <span th:text=${cadastroSuccess}></span>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${not #strings.isEmpty(cadastroError)}">
                <span th:text=${cadastroError}></span>
            </div>
            
            <form th:action="@{/admin/professores/cadastro}" th:object="${professoresModel}" method="POST">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <th:block th:each="erro : ${#fields.detailedErrors()}">
                        <div>
                            <span th:text="${erro.message}">Erro durante o cadastro</span>
                        </div>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="InputProfessor">Nome</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" id="inputNome" th:field="*{nome}">
                </div>
                <div class="form-group">
                    <label for="InputCPF">CPF</label>
                    <input type="text" minlength="14" maxlength="14" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" id="inputCPF" th:field="*{cpf}" onkeypress="$(this).mask('000.000.000-00');">
                </div>
                <div class="form-group">
                    <label for="InputFormacao">Formação</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" id="inputFormacao" th:field="*{formacao}">
                </div>
                <div class="form-group">
                    <label for="SelectUsuario">Usuário</label>
                    <select class="form-control" id="selectUsuario" th:field="*{usuario.id}">
                        <option value="">Selecione um usuario...</option>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.user}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Cadastrar</button>
            </form>   
        </section>
    </body>
</html>