<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/stylesheets/bootstrap/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/stylesheets/login.css}">
        
        <title>Login</title>
    </head>

    <body class="text-center">
        <form class="form-signin" th:action=@{/login} method="POST">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="alert alert-danger" role="alert" th:if="${#bools.isTrue(param.error)}">
                    Nome de usuário e/ou senha inválido(s)
                </div>
                <p class="h1 mb-4">Login</p>
                <label for="inputEmail" class="sr-only">Nome de usuário</label>
                <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Nome de usuário" required autofocus>

                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Senha" required>

                <button class="btn btn-lg btn-dark btn-block" type="submit">Login</button>
            </div>
        </form>
    </body>
</html>