<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout">
	
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Cadastro - Cursos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(mensagem1)}">
                <span th:text=${mensagem1}></span>
            </div>
            
            <form th:action="@{/cursos/cadastro}" th:object="${curso}" method="POST">
                <!--
                <div class="alert alert-danger" role="alert">
                    Curso já cadastrado
                </div>
                -->

                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <th:block th:each="erro : ${#fields.detailedErrors()}">
                        <div>
                            <span th:text="${erro.message}">Erro durante o cadastro</span>
                        </div>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="nome" class="control-label">Nome do curso</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" id="nome" th:field="*{nome}"/>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </section>
    </body>
</html>